Welcome to User-Group List, #{@user.profile.full_name_or_username}
\===============================================

You have successfully signed up to User-Group List,
your sign in email is: #{@user.email}.

To view your profile, just follow this link: #{@profile_url}.

Register a User-Group Today!
\----------------------------

User-Group List is built by people like you posting their
favorite User-Group's info. Sign in and help grow your
favorite UG's presence!

You don't have to be the main organizer of a User-Group to
list a User-Group. You can enter as many as you like.

Don't wait! Register a new User-Group now! #{@new_user_group_url}

Thanks for joining and have a great day!

Sincerely,

Mike, creator of UGl.st

p.s. This email goes to a live inbox for Mike.
Feel free to reply with any questions, ideas, or concerns.
