---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=php_ug
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="96544208ce6e25971e9652e53155bee1",
        oauth_signature="wrJz%2FQj4N9sm6GbVJqc0ROvbQdA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1418656813", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 15 Dec 2014 15:20:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 16d41369bf94869a7260d24eefa3490b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '171'
      X-Rate-Limit-Reset:
      - '1418657711'
      X-Response-Time:
      - '39'
      X-Transaction:
      - eb1d68e2e368e219
    body:
      encoding: UTF-8
      string: '{"id":524390073,"id_str":"524390073","name":"PHP-Usergroups","screen_name":"php_ug","location":"","profile_location":null,"description":"one
        place for one community","url":"http:\/\/t.co\/cmJPCUrx","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/cmJPCUrx","expanded_url":"http:\/\/php.ug","display_url":"php.ug","indices":[0,20]}]},"description":{"urls":[]}},"protected":false,"followers_count":227,"friends_count":101,"listed_count":7,"created_at":"Wed
        Mar 14 14:12:33 +0000 2012","favourites_count":9,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":269,"lang":"de","status":{"created_at":"Mon
        Dec 15 14:51:53 +0000 2014","id":544505127709978624,"id_str":"544505127709978624","text":"@phpsouthcoast  mind
        to tag the joind.in entry with ''php''? Would also show the CfP on http:\/\/t.co\/JeXlYKM7Y0","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":2802274409,"in_reply_to_user_id_str":"2802274409","in_reply_to_screen_name":"phpsouthcoast","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"phpsouthcoast","name":"PHP
        South Coast","id":2802274409,"id_str":"2802274409","indices":[0,14]}],"urls":[{"url":"http:\/\/t.co\/JeXlYKM7Y0","expanded_url":"http:\/\/bit.ly\/phpug-cfp","display_url":"bit.ly\/phpug-cfp","indices":[86,108]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000362938247\/317ef0e74ac2a42996ee624cf388a0eb_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000362938247\/317ef0e74ac2a42996ee624cf388a0eb_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false}'
  recorded_at: Mon, 15 Dec 2014 15:20:13 GMT
recorded_with: VCR 2.9.3
