---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=101%20North%20Main%20Street,%20Crystal%20Lake,%20IL%2060014&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "101",
                       "short_name" : "101",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "North Main Street",
                       "short_name" : "N Main St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Crystal Lake",
                       "short_name" : "Crystal Lake",
                       "types" : [ "locality", "political" ]
                    },
                    {
                      [...]
