---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=<TWITTER_OWNER>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="6c9d215a92bcd04b3e9915aaf78451cf",
        oauth_signature="pz%2FoRqJ6eTcADupRQnfnRXXOySA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417584458", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 03 Dec 2014 05:27:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - ad19b3c04fefbc0d739737aafb3088fc
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1417585358'
      X-Response-Time:
      - '28'
      X-Transaction:
      - 0a4d51607b918253
    body:
      encoding: UTF-8
      string: '{"id":<TWITTER_OWNER_ID>,"id_str":"<TWITTER_OWNER_ID>","name":"User-Group
        List","screen_name":"<TWITTER_OWNER>","location":"User-Group Community, Earth","profile_location":null,"description":"Promote
        your user-group community on User-Group List https:\/\/t.co\/Axn4mBxiOS. Interviewing
        Tech Community People at UGtastic as well http:\/\/t.co\/erEzA2Kpcp","url":"https:\/\/t.co\/Axn4mBxiOS","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[53,76]},{"url":"http:\/\/t.co\/erEzA2Kpcp","expanded_url":"http:\/\/www.ugtastic.com","display_url":"ugtastic.com","indices":[133,155]}]}},"protected":false,"followers_count":47,"friends_count":299,"listed_count":0,"created_at":"Fri
        Dec 30 05:31:43 +0000 2011","favourites_count":49,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":344,"lang":"en","status":{"created_at":"Wed
        Dec 03 05:00:08 +0000 2014","id":540007554429247489,"id_str":"540007554429247489","text":"Chicago
        Docker by @docker #UserGroup http:\/\/t.co\/QQrnCrMCIe via @<TWITTER_OWNER>
        #UserGroups","source":"\u003ca href=\"https:\/\/ugl.st\" rel=\"nofollow\"\u003eugl.st\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[{"text":"UserGroup","indices":[26,36]},{"text":"UserGroups","indices":[71,82]}],"symbols":[],"user_mentions":[{"screen_name":"docker","name":"Docker","id":1138959692,"id_str":"1138959692","indices":[18,25]},{"screen_name":"<TWITTER_OWNER>","name":"User-Group
        List","id":<TWITTER_OWNER_ID>,"id_str":"<TWITTER_OWNER_ID>","indices":[64,70]}],"urls":[{"url":"http:\/\/t.co\/QQrnCrMCIe","expanded_url":"http:\/\/ugl.st\/user_groups\/chicago-docker","display_url":"ugl.st\/user_groups\/ch\u2026","indices":[37,59]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"E5E8EA","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_link_color":"1AA8E8","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"suspended":false,"needs_phone_verification":false}'
  recorded_at: Wed, 03 Dec 2014 05:27:38 GMT
recorded_with: VCR 2.9.3
