---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=ugtastic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="0ce59d427cf80f04c70f964d32ed7c8e",
        oauth_signature="xkI1BqhGVPZwjXsVFmwHb3O3luA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417850179", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 06 Dec 2014 07:16:19 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 82d0804e97448307f0f8bdc2388315a6
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1417850723'
      X-Response-Time:
      - '28'
      X-Transaction:
      - e8a57fb9b54ff84a
    body:
      encoding: UTF-8
      string: '{"id":415617152,"id_str":"415617152","name":"User-Groups!","screen_name":"ugtastic","location":"Earth","profile_location":null,"description":"Telling
        the story of technical communities one interview at a time. Over 100 interviews
        and counting! Your RT is like a rainbow Twitter hug!","url":"http:\/\/t.co\/erEzA2Kpcp","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/erEzA2Kpcp","expanded_url":"http:\/\/www.ugtastic.com","display_url":"ugtastic.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1086,"friends_count":312,"listed_count":22,"created_at":"Fri
        Nov 18 15:40:29 +0000 2011","favourites_count":496,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":5161,"lang":"en","status":{"created_at":"Fri
        Dec 05 00:13:52 +0000 2014","id":540660288765566976,"id_str":"540660288765566976","text":"RT
        @RailsBridgeChi: We''re still looking for a few more TAs for our @RailsBridge
        workshop next wknd! Volunteers of all genders welcome! http\u2026","source":"\u003ca
        href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\" rel=\"nofollow\"\u003eTwitter
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Nov 28 23:21:36 +0000 2014","id":538472808305942530,"id_str":"538472808305942530","text":"We''re
        still looking for a few more TAs for our @RailsBridge workshop next wknd!
        Volunteers of all genders welcome! https:\/\/t.co\/VIcRcC1wYw","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":19,"favorite_count":6,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"railsbridge","name":"RailsBridge","id":37201113,"id_str":"37201113","indices":[47,59]}],"urls":[{"url":"https:\/\/t.co\/VIcRcC1wYw","expanded_url":"https:\/\/www.bridgetroll.org\/events\/122\/","display_url":"bridgetroll.org\/events\/122\/","indices":[115,138]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"retweet_count":19,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"RailsBridgeChi","name":"RailsBridge
        Chicago","id":2821429271,"id_str":"2821429271","indices":[3,18]},{"screen_name":"railsbridge","name":"RailsBridge","id":37201113,"id_str":"37201113","indices":[67,79]}],"urls":[{"url":"https:\/\/t.co\/VIcRcC1wYw","expanded_url":"https:\/\/www.bridgetroll.org\/events\/122\/","display_url":"bridgetroll.org\/events\/122\/","indices":[139,140]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F8F7F1","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/474750411241299969\/pO6hnnvq_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/474750411241299969\/pO6hnnvq_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/415617152\/1402024152","profile_link_color":"03334E","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sat, 06 Dec 2014 07:16:19 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Chicago,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Chicago",
                       "short_name" : "Chicago",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Chicago, IL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52404399999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    },
                    "location" : {
                       "lat" : 41.8781136,
                       "lng" : -87.6297982
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52404399999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Dec 2014 05:03:19 GMT
recorded_with: VCR 2.9.3
