---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=ugtastic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="9202de9255de7b3f08066b226790c382",
        oauth_signature="%2FVBwoGDKqS6I%2BmZr6esclzWLXtc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417502096", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 02 Dec 2014 06:34:56 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 9fd7b258598da179be1456bc3355ca7a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '142'
      X-Rate-Limit-Reset:
      - '1417502846'
      X-Transaction:
      - 7cbd53ac47145c5f
    body:
      encoding: UTF-8
      string: '{"id":415617152,"id_str":"415617152","name":"User-Groups!","screen_name":"ugtastic","location":"Earth","profile_location":null,"description":"Telling
        the story of technical communities one interview at a time. Over 100 interviews
        and counting! Your RT is like a rainbow Twitter hug!","url":"http:\/\/t.co\/erEzA2Kpcp","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/erEzA2Kpcp","expanded_url":"http:\/\/www.ugtastic.com","display_url":"ugtastic.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1087,"friends_count":312,"listed_count":21,"created_at":"Fri
        Nov 18 15:40:29 +0000 2011","favourites_count":495,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":5157,"lang":"en","status":{"created_at":"Mon
        Dec 01 21:50:58 +0000 2014","id":539537162262560768,"id_str":"539537162262560768","text":"Today
        only: #GOTOChgo earlybird tickets are an extra $100 off with promocode \"cybergoto\"
        http:\/\/t.co\/VN7hfLdtYi (Tell ''em @ugtastic sent ya)","source":"\u003ca
        href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\" rel=\"nofollow\"\u003eTwitter
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[{"text":"GOTOChgo","indices":[12,21]}],"symbols":[],"user_mentions":[{"screen_name":"ugtastic","name":"User-Groups!","id":415617152,"id_str":"415617152","indices":[122,131]}],"urls":[{"url":"http:\/\/t.co\/VN7hfLdtYi","expanded_url":"http:\/\/gotocon.com\/chicago-2015\/","display_url":"gotocon.com\/chicago-2015\/","indices":[89,111]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F8F7F1","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/474750411241299969\/pO6hnnvq_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/474750411241299969\/pO6hnnvq_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/415617152\/1402024152","profile_link_color":"03334E","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 02 Dec 2014 06:34:56 GMT
recorded_with: VCR 2.9.3
