---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=<TWITTER_OWNER>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="9ea1da772bd86c4e98881c6a53221d7f",
        oauth_signature="qMmAluCCcyfIw69SVYq1sz8F3gU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417502092", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 02 Dec 2014 06:34:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - b09a88b47b2173b5d8fbeb5d4fb17dcc
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '145'
      X-Rate-Limit-Reset:
      - '1417502846'
      X-Transaction:
      - 8062c37e5d73d4a5
    body:
      encoding: UTF-8
      string: '{"id":<TWITTER_OWNER_ID>,"id_str":"<TWITTER_OWNER_ID>","name":"User-Group
        List","screen_name":"<TWITTER_OWNER>","location":"User-Group Community, Earth","profile_location":null,"description":"Promote
        your user-group community on User-Group List https:\/\/t.co\/Axn4mBxiOS. Interviewing
        Tech Community People at UGtastic as well http:\/\/t.co\/erEzA2Kpcp","url":"https:\/\/t.co\/Axn4mBxiOS","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[53,76]},{"url":"http:\/\/t.co\/erEzA2Kpcp","expanded_url":"http:\/\/www.ugtastic.com","display_url":"ugtastic.com","indices":[133,155]}]}},"protected":false,"followers_count":48,"friends_count":270,"listed_count":0,"created_at":"Fri
        Dec 30 05:31:43 +0000 2011","favourites_count":49,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":336,"lang":"en","status":{"created_at":"Tue
        Dec 02 05:00:16 +0000 2014","id":539645198989811713,"id_str":"539645198989811713","text":"Geekfest
        Chicago by @geekfest #UserGroup http:\/\/t.co\/YWSyH7LSzG via @<TWITTER_OWNER>
        #UserGroups","source":"\u003ca href=\"https:\/\/ugl.st\" rel=\"nofollow\"\u003eugl.st\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"UserGroup","indices":[30,40]},{"text":"UserGroups","indices":[75,86]}],"symbols":[],"user_mentions":[{"screen_name":"geekfest","name":"Geekfest","id":16013573,"id_str":"16013573","indices":[20,29]},{"screen_name":"<TWITTER_OWNER>","name":"User-Group
        List","id":<TWITTER_OWNER_ID>,"id_str":"<TWITTER_OWNER_ID>","indices":[68,74]}],"urls":[{"url":"http:\/\/t.co\/YWSyH7LSzG","expanded_url":"http:\/\/ugl.st\/user_groups\/geekfest-chicago","display_url":"ugl.st\/user_groups\/ge\u2026","indices":[41,63]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"fr"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"E5E8EA","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_link_color":"1AA8E8","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"suspended":false,"needs_phone_verification":false}'
  recorded_at: Tue, 02 Dec 2014 06:34:53 GMT
recorded_with: VCR 2.9.3
