#user_group_membership
  - if current_user
    - if current_user.user_group_memberships.where(user_group: @user_group).empty?
      = render 'join_link'
    - else
      = render 'leave_link'
  - else
    = link_to "Sign in to join #{@user_group.name}", new_user_session_path
