---
http_interactions:
- request:
    method: get
    uri: http://php.ug/api/rest/listtype.json/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":null,"list":{"name":"PHP-Usergroups","description":"PHP-Usergroups","id":1},"groups":[{"id":1,"name":"Frankfurt","shortname":"ffm","url":"http:\/\/phpugffm.de","icalendar_url":"http:\/\/www.phpugffm.de\/?ical=1","latitude":50.11395,"longitude":8.67922,"state":1,"contacts":[{"url":"http:\/\/twitter.com\/phpugffm","name":"phpugffm","type":"Twitter","cssClass":"fa-twitter
        fa"},{"url":"mailto:andreas@phpugffm.de","name":"andreas@phpugffm.de","type":"Mail","cssClass":"fa-envelope
        fa"},{"url":"irc:\/\/freenode.net\/#phpugffm","name":"phpugffm","type":"IRC
        (freenode)","cssClass":"phpug-hashtag fa"}],"ugtype":{"id":1,"name":"PHP-Usergroups","description":"PHP-Usergroups"},"country":"DE"},{"id":2,"name":"Rheinhessen","shortname":"mainz","url":"http:\/\/phpug-rheinhessen.de\/","icalendar_url":null,"latitude":49.9999,"longitude":8.26944,"state":1,"contacts":[{"url":"http:\/\/twitter.com\/phpugrhh","name":"phpugrhh","type":"Twitter","cssClass":"fa-twitter
        fa"}],"ugtype":{"id":1,"name":"PHP-Usergroups","description":"PHP-Usergroups"},"country":"DE"},{"id":3,"name":"Berlin","shortname":"be","url":"http:\/\/bephpug.de","icalendar_url":"","latitude":52.51861,"longitude":13[...]
