---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=50.11395,8.679220000000001&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Hauptwache",
                       "short_name" : "Hauptwache",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Innenstadt",
                       "short_name" : "Innenstadt",
                       "types" : [ "sublocality_level_1", "sublocality", "political" ]
                    },
                    {
      [...]
