---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1060%20West%20Addison%20Street,%20Chicago,%20IL%2060613&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1060",
                       "short_name" : "1060",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Addison Street",
                       "short_name" : "W Addison St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "North Side",
                       "short_name" : "North Side",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                 [...]
