---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=example
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="1ab6d78d7bb458b9c553f4611a9d4e13",
        oauth_signature="aMzCFdp7gfPN9qOcL4zGEZ34BUY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1413216901", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 13 Oct 2014 16:15:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 7183307baf4923fd915f3e37b6126241
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1413217802'
      X-Transaction:
      - 2914818f9f1323e7
    body:
      encoding: UTF-8
      string: '{"id":16542877,"id_str":"16542877","name":"example","screen_name":"example","location":"London","description":"Insta:
        example \/ New album #LiveLifeLiving OUT NOW \/ Tour on sale now: http:\/\/t.co\/TzOcAFBFGk","url":"http:\/\/t.co\/abWgAwOOWU","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/abWgAwOOWU","expanded_url":"http:\/\/trythisforexample.com","display_url":"trythisforexample.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/TzOcAFBFGk","expanded_url":"http:\/\/tour.trythisforexample.com","display_url":"tour.trythisforexample.com","indices":[71,93]}]}},"protected":false,"followers_count":2060605,"friends_count":867,"listed_count":3155,"created_at":"Wed
        Oct 01 12:01:54 +0000 2008","favourites_count":66,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":97333,"lang":"en","status":{"created_at":"Mon
        Oct 13 14:55:32 +0000 2014","id":521675609173684225,"id_str":"521675609173684225","text":"@ChrisMason_
        cheers Gary","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":521675372791091201,"in_reply_to_status_id_str":"521675372791091201","in_reply_to_user_id":286311819,"in_reply_to_user_id_str":"286311819","in_reply_to_screen_name":"ChrisMason_","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"ChrisMason_","name":"Chris
        Mason","id":286311819,"id_str":"286311819","indices":[0,12]}]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/459409933612490752\/xZDR9rk1.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/459409933612490752\/xZDR9rk1.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/510178526558162944\/Ev35GlBM_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/510178526558162944\/Ev35GlBM_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/16542877\/1410471115","profile_link_color":"17A4EB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"FADBFF","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Mon, 13 Oct 2014 16:15:02 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=16542877
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="7f11bd07909713ee0d4fb6525f59729f",
        oauth_signature="1cqamsjA8uHTgdBaWL8Z8gh%2Fl7Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1413217277", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:[...]
