---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=php_ug
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="0cd2669afe8bf16989c59a1d6eb5cbcd",
        oauth_signature="XGv3NjgrlvO3ErSxkHVhEfrEGnA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1412696897", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Oct 2014 15:48:19 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - aaf48d851f2847c5ed07f114a2b396b8
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '160'
      X-Rate-Limit-Reset:
      - '1412697418'
      X-Transaction:
      - 99046468444cf251
    body:
      encoding: UTF-8
      string: '{"id":524390073,"id_str":"524390073","name":"PHP-Usergroups","screen_name":"php_ug","location":"","description":"one
        place for one community","url":"http:\/\/t.co\/cmJPCUrx","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/cmJPCUrx","expanded_url":"http:\/\/php.ug","display_url":"php.ug","indices":[0,20]}]},"description":{"urls":[]}},"protected":false,"followers_count":196,"friends_count":92,"listed_count":7,"created_at":"Wed
        Mar 14 14:12:33 +0000 2012","favourites_count":8,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":256,"lang":"de","status":{"created_at":"Tue
        Oct 07 06:38:05 +0000 2014","id":519376095159025664,"id_str":"519376095159025664","text":"Any
        infos about usergroups in ANY city in the ukraine @dracony_gimp? Love to hear
        about ANY user group!  \/cc @miss_jwo @Flyingmana","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":519241519690424320,"in_reply_to_status_id_str":"519241519690424320","in_reply_to_user_id":31551521,"in_reply_to_user_id_str":"31551521","in_reply_to_screen_name":"dracony_gimp","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"dracony_gimp","name":"Dracony","id":31551521,"id_str":"31551521","indices":[54,67]},{"screen_name":"miss_jwo","name":"Jenny
        Wong","id":200519952,"id_str":"200519952","indices":[109,118]},{"screen_name":"Flyingmana","name":"Daniel
        Fahlke","id":130512456,"id_str":"130512456","indices":[119,130]}]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000362938247\/317ef0e74ac2a42996ee624cf388a0eb_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000362938247\/317ef0e74ac2a42996ee624cf388a0eb_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 07 Oct 2014 15:48:18 GMT
[...]
