---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=uglst
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="61a97fac4c36b742f7557062deb26add",
        oauth_signature="89AeRo2RC5jSxfiIc%2BRIfSIrU2g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1412696896", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Oct 2014 15:48:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c5128b6dfe94c292ad7e70da2d4e9d6a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '165'
      X-Rate-Limit-Reset:
      - '1412697418'
      X-Transaction:
      - b26752cd3d4484ba
    body:
      encoding: UTF-8
      string: '{"id":450382927,"id_str":"450382927","name":"User-Group List","screen_name":"uglst","location":"User-Group
        Community, Earth","description":"Promote your user-group community on User-Group
        List https:\/\/t.co\/Axn4mBxiOS. Interviewing Tech Community People at UGtastic
        as well http:\/\/t.co\/erEzA2Kpcp","url":"https:\/\/t.co\/Axn4mBxiOS","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[53,76]},{"url":"http:\/\/t.co\/erEzA2Kpcp","expanded_url":"http:\/\/www.ugtastic.com","display_url":"ugtastic.com","indices":[133,155]}]}},"protected":false,"followers_count":39,"friends_count":264,"listed_count":1,"created_at":"Fri
        Dec 30 05:31:43 +0000 2011","favourites_count":38,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":198,"lang":"en","status":{"created_at":"Fri
        Sep 12 23:21:10 +0000 2014","id":510568832575242240,"id_str":"510568832575242240","text":"RT
        @just3ws: Have you gotten your @newrelic + @coderwall T-Shirt? http:\/\/t.co\/VU9u7cSH7P
        New design coming soon. :)","source":"\u003ca href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\"
        rel=\"nofollow\"\u003eTwitter for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Sep 12 23:18:27 +0000 2014","id":510568148803014656,"id_str":"510568148803014656","text":"Have
        you gotten your @newrelic + @coderwall T-Shirt? http:\/\/t.co\/VU9u7cSH7P
        New design coming soon. :)","source":"\u003ca href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\"
        rel=\"nofollow\"\u003eTwitter for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":6,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/VU9u7cSH7P","expanded_url":"http:\/\/newrelic.com\/sp\/coderwall?utm_source=CWAL&utm_medium=promotion&utm_content=coderwall&utm_campaign=coderwall&mpc=PM-CWAL-web-Signup-100-coderwall-shirtpromo","display_url":"newrelic.com\/sp\/coderwall?u\u2026","indices":[53,75]}],"user_mentions":[{"screen_name":"newrelic","name":"New
        Relic","id":15527007,"id_str":"15527007","indices":[21,30]},{"screen_name":"coderwall","name":"coderwall","id":296019552,"id_str":"296019552","indices":[33,43]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"retweet_count":6,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/VU9u7cSH7P","expanded_url":"http:\/\/newrelic.com\/sp\/coderwall?utm_source=CWAL&utm_medium=promotion&utm_content=coderwall&utm_campaign=coderwall&mpc=PM-CWAL-web-Signup-100-coderwall-shirtpromo","display_url":"newrelic.com\/sp\/coderwall?u\u2026","indices":[66,88]}],"user_mentions":[{"screen_name":"just3ws","name":"Mike
        Hall","id":15746419,"id_str":"15746419","indices":[3,11]},{"screen_name":"newrelic","name":"New
        Relic","id":15527007,"id_str":"15527007","indices":[34,43]},{"screen_name":"coderwall","name":"coderwall","id":296019552,"id_str":"296019552","indices":[46,56]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"E5E8EA","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_link_color":"1AA8E8","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 07 Oct 2014 15:48:16 GMT
recorded_with: VCR 2.9.3
