---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=php_ug
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="87ba12eb9317ef4d46ef49ac94335335",
        oauth_signature="TmF5%2BzhQZC8K7Hmt06RgpqGIq78%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1410026629", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 06 Sep 2014 18:03:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1410026958'
      X-Transaction:
      - 708023a95689003c
    body:
      encoding: UTF-8
      string: '{"id":524390073,"id_str":"524390073","name":"PHP-Usergroups","screen_name":"php_ug","location":"","description":"one
        place for one community","url":"http:\/\/t.co\/cmJPCUrx","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/cmJPCUrx","expanded_url":"http:\/\/php.ug","display_url":"php.ug","indices":[0,20]}]},"description":{"urls":[]}},"protected":false,"followers_count":171,"friends_count":86,"listed_count":7,"created_at":"Wed
        Mar 14 14:12:33 +0000 2012","favourites_count":8,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":242,"lang":"de","status":{"created_at":"Mon
        Aug 11 20:34:00 +0000 2014","id":498930352346656769,"id_str":"498930352346656769","text":"RT
        @heiglandreas: Big welcome please to the PHP-Usergroup at Davao (Philipines)
        on the map @ http:\/\/t.co\/vmnUdYOSVj - more infos @ http:\/\/t\u2026","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Aug 11 20:33:50 +0000 2014","id":498930311062118400,"id_str":"498930311062118400","text":"Big
        welcome please to the PHP-Usergroup at Davao (Philipines) on the map @ http:\/\/t.co\/vmnUdYOSVj
        - more infos @ http:\/\/t.co\/6g7JriFQ1I","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/vmnUdYOSVj","expanded_url":"http:\/\/php.ug?center=DPHPD","display_url":"php.ug\/?center=DPHPD","indices":[75,97]},{"url":"http:\/\/t.co\/6g7JriFQ1I","expanded_url":"http:\/\/DPHPD.php.ug","display_url":"DPHPD.php.ug","indices":[113,135]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/vmnUdYOSVj","expanded_url":"http:\/\/php.ug?center=DPHPD","display_url":"php.ug\/?center=DPHPD","indices":[93,115]},{"url":"http:\/\/t.co\/6g7JriFQ1I","expanded_url":"http:\/\/DPHPD.php.ug","display_url":"DPHPD.php.ug","indices":[139,140]}],"user_mentions":[{"screen_name":"heiglandreas","name":"Andreas
        Heigl","id":135865541,"id_str":"135865541","indices":[3,16]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000362938247\/317ef0e74ac2a42996ee624cf388a0eb_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000362938247\/317ef0e74ac2a42996ee624cf388a0eb_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sat, 06 Sep 2014 18:03:50 GMT
[...]
