---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=<TWITTER_OWNER>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="2294e5a686020a48c866210d00cb06af",
        oauth_signature="bKx53lkt3ERMwiw1vvp5X8ji1ik%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1409977504", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 06 Sep 2014 04:25:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1409978401'
      X-Transaction:
      - cd27d27ca7c3ff63
    body:
      encoding: UTF-8
      string: '{"id":<TWITTER_OWNER_ID>,"id_str":"<TWITTER_OWNER_ID>","name":"User-Group
        List","screen_name":"<TWITTER_OWNER>","location":"User-Group Community, Earth","description":"Promote
        your user-group community on User-Group List https:\/\/t.co\/Axn4mBxiOS. Interviewing
        Tech Community People at UGtastic as well http:\/\/t.co\/erEzA2Kpcp","url":"https:\/\/t.co\/Axn4mBxiOS","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[53,76]},{"url":"http:\/\/t.co\/erEzA2Kpcp","expanded_url":"http:\/\/www.ugtastic.com","display_url":"ugtastic.com","indices":[133,155]}]}},"protected":false,"followers_count":38,"friends_count":264,"listed_count":0,"created_at":"Fri
        Dec 30 05:31:43 +0000 2011","favourites_count":38,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":197,"lang":"en","status":{"created_at":"Wed
        Sep 03 16:46:16 +0000 2014","id":507207964865077248,"id_str":"507207964865077248","text":"RT
        @greggyb: An interview with Art, an 80 year old programmer, about the early
        days of our industry. http:\/\/t.co\/jhH8kOouLv \/@ugtastic","source":"\u003ca
        href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\" rel=\"nofollow\"\u003eTwitter
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Sep 03 16:45:39 +0000 2014","id":507207807838732288,"id_str":"507207807838732288","text":"An
        interview with Art, an 80 year old programmer, about the early days of our
        industry. http:\/\/t.co\/jhH8kOouLv \/@ugtastic","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":7,"favorite_count":9,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/jhH8kOouLv","expanded_url":"http:\/\/www.ugtastic.com\/stories-early-days-tech-industry-art\/","display_url":"ugtastic.com\/stories-early-\u2026","indices":[88,110]}],"user_mentions":[{"screen_name":"ugtastic","name":"User-Groups!","id":415617152,"id_str":"415617152","indices":[112,121]}]},"favorited":true,"retweeted":true,"possibly_sensitive":false,"lang":"en"},"retweet_count":7,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/jhH8kOouLv","expanded_url":"http:\/\/www.ugtastic.com\/stories-early-days-tech-industry-art\/","display_url":"ugtastic.com\/stories-early-\u2026","indices":[101,123]}],"user_mentions":[{"screen_name":"greggyb","name":"Greg
        Baugues","id":15048829,"id_str":"15048829","indices":[3,11]},{"screen_name":"ugtastic","name":"User-Groups!","id":415617152,"id_str":"415617152","indices":[125,134]}]},"favorited":true,"retweeted":true,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"E5E8EA","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_link_color":"1AA8E8","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"suspended":false,"needs_phone_verification":false}'
  recorded_at: Sat, 06 Sep 2014 04:25:04 GMT
recorded_with: VCR 2.9.2
