---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=example
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="34656040b9b9015362cd52f44f733990",
        oauth_signature="f9ZOM2fgZJdfd89CNQs3C%2BpIULs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1412696900", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Oct 2014 15:48:22 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bdd07d9273790e16420c1d34015d3557
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '152'
      X-Rate-Limit-Reset:
      - '1412697418'
      X-Transaction:
      - 7eafa46d7a068b34
    body:
      encoding: UTF-8
      string: '{"id":16542877,"id_str":"16542877","name":"example","screen_name":"example","location":"London","description":"Insta:
        exampstagram \/ New album #LiveLifeLiving OUT NOW","url":"http:\/\/t.co\/abWgAwxLUU","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/abWgAwxLUU","expanded_url":"http:\/\/trythisforexample.com","display_url":"trythisforexample.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":2058772,"friends_count":862,"listed_count":3151,"created_at":"Wed
        Oct 01 12:01:54 +0000 2008","favourites_count":66,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":97240,"lang":"en","status":{"created_at":"Tue
        Oct 07 14:28:46 +0000 2014","id":519494545894309888,"id_str":"519494545894309888","text":"@anthonystroud24
        nah. Gold\/Platinum discs are in recognition of record sales","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":519493098402230272,"in_reply_to_status_id_str":"519493098402230272","in_reply_to_user_id":954529206,"in_reply_to_user_id_str":"954529206","in_reply_to_screen_name":"anthonystroud24","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"anthonystroud24","name":"anthonystroud89","id":954529206,"id_str":"954529206","indices":[0,16]}]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/459409933612490752\/xZDR9rk1.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/459409933612490752\/xZDR9rk1.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/510178526558162944\/Ev35GlBM_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/510178526558162944\/Ev35GlBM_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/16542877\/1410471115","profile_link_color":"17A4EB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"FADBFF","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 07 Oct 2014 15:48:21 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1060%20West%20Addison%20Street,%20Chicago,%20IL%2060613&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1060",
                       "short_name" : "1060",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Addison Street",
                       "short_name" : "W Addison St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "North Side",
                       "short_name" : "North Side",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Chicago,%20,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Chicago",
                       "short_name" : "Chicago",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Chicago, IL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52404399999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    },
                    "location" : {
                       "lat" : 41.8781136,
                       "lng" : -87.6297982
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52404399999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 09 Oct 2014 04:29:19 GMT
recorded_with: VCR 2.9.3
