---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Chicago,%20,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Chicago",
                       "short_name" : "Chicago",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Chicago, IL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52404399999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    },
                    "location" : {
                       "lat" : 41.8781136,
                       "lng" : -87.6297982
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.023131,
                          "lng" : -87.52404399999999
                       },
                       "southwest" : {
                          "lat" : 41.6443349,
                          "lng" : -87.9402669
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 29 Aug 2014 20:55:20 GMT
recorded_with: VCR 2.9.2
