#container
  %h1.welcome
    Welcome to UGtastic!
  %p.welcome
    Fill out this badge with your email or a nickname so everyone can say "Hi!"
  %form(action='#')
    #badge
      #top-section
        #salutation Hello
        #greeting My name is
      #name-section
        %input(type="text" placeholder="UGtastic" autofocus)
    #actions
      %input#next(type="submit" value="Okee Dokee!")
