<h1>Pricing</h1>
<p>Listing User-Groups is free. It will always be free.</p>
<h3>But why even mention pricing?</h3>
<p>Good question. There's more to this project than simply a directory of user-groups. I'll write more soon but the goal
  of this site is to do more than provide links to user-group organizers.</p>
