<h1>Privacy</h1>
<div class="alert alert-warning">At this time UGl.st is a "use at your own risk" stage of development.</div>
<p>We strive to protect your sensitive data and appreciate your trust.</p>
<p>Our current plan is for public data to be available, open, and queryable to anyone on the web.</p>
<p>Non-public data, things like your home or email address, if provided, would be restricted to members-only and even
  then we are planning to take steps to help mitigate spammers and mass-marketers from scraping the site.</p>
<p>Sensitive data such as race or gender, if provided, is not going to be released in a way that would reveal the your
  identity (again, to the best of our ability). The plan though is to be able to generate demographic information that
  can be used by user-group organizers and sponsors to make better plans for how they can reach a diverse and
  potentially underserved segment of their population.</p>

<p>If you enter data into your profile in the section that is marked as sensitive and there is a change in direction on
  the privacy plan my current bias is towards scrubbing the contents of those fields and letting people choose whether
  they want to explicity opt-in by re-entering that data.</p>

<p>If you have any questions or concerns about how we collect and store private data feel free to
  <a href="mailto:mike+privacy@ugl.st">contact us</a>.</a>

