<h1>Security</h1>
<p>We use HTTPS and are already developing with an eye toward limiting database exposure from unwanted access
  by encrypting database columns containing personal, non-public information.</p>
