<h1>Security</h1>
<div class="alert alert-warning">At this time UGl.st is a "use at your own risk" stage of development.</div>
<p>This is a very early stage of development and while we are working to build a safe system that will protect your data
  we cannot ensure anything is safe at this point.</p>
<p>We will be adding SSL and are already developing with an eye toward limiting database exposure from unwanted access
  by encrypting database columns containing non-public information.</p>
<p>At this time UGl.st is a "use at your own risk" stage of development.</p>
