<h1>Terms of Service</h1>
<div class="alert alert-warning">At this time UGl.st is a "use at your own risk" stage of development.</div>
<p>This site is under constant development and can change anytime. You need to accept that your data may be lost, mangled, or unintentionally exposed as we develope the site (although we will not be taking any of these issues lightly.)</p>
