%h1 Listing admin_opportunities

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @opportunities.each do |admin_opportunity|
      %tr
        %td= link_to 'Show', admin_opportunity
        %td= link_to 'Edit', edit_admin_opportunity_path(admin_opportunity)
        %td= link_to 'Destroy', admin_opportunity, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Opportunity', new_admin_opportunity_path
