$cosmic_latte: #FFF8E7;

$ugtastic_blue: #09314F;
$ugtastic_red: #D81A20;
$ugtastic_blue_light: #7295A0;
$ugtastic_grey_dark: #8D8D8D;
$ugtastic_grey_light: #DEDEDE;
$ugtastic_beige: #FDE3A2;
$ugtastic_beige_light: #F4EDD7;
$ugtastic_beige_dark: #C9AD3A;
