/*
 *= require_self
 *= require glyphicons/glyphicons
 *= require glyphicons/halflings
 *= require glyphicons/social
 *= require glyphicons/filetypes
 *= require bootstrap-datepicker
 */

@import 'bootswatch/readable/variables';
@import 'bootstrap';
body { padding-top: 60px; }
@import 'bootswatch/readable/bootswatch';

legend {
  color: #141823;
  font-size: 25px;
  font-weight: bold;
}

.breadcrumb {
  margin-top: 20px;
}

.form .form-control {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #home {
    margin-top: 50px;
  }
  #home .slogan {
    color: #0e385f;
    line-height: 29px;
    font-weight: bold;
  }
}

.profile-interests, .user_group-topics {
  margin-top: 16px;
}

span.tags {
  background:    $state-info-bg;
  border-color:  $state-info-border;
  border-radius: 2px;
  color:         $state-info-text;
  font-weight:   bold;
  padding:       2px 4px;
}

#user_group_membership {
  margin-bottom: 16px;
}

#googlemaps {
  height:   100%;
  width:    100%;
  position: absolute;
  top:      0;
  left:     0;
  z-index:  0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#googlemaps-mini {
  width:  100%;
  height: 100px;
}

.footer {
  margin-top: 16px;
}

