/*
 *= require_self
 *= require glyphicons/glyphicons
 *= require glyphicons/halflings
 *= require glyphicons/social
 *= require glyphicons/filetypes
 *= require bootstrap-datepicker
 */

@import 'bootswatch/readable/variables';
@import 'bootstrap';
body { padding-top: 60px; }
@import 'bootswatch/readable/bootswatch';

legend {
  color: #141823;
  font-size: 25px;
  font-weight: bold;
}

.breadcrumb {
  margin-top: 20px;
}

.form .form-control {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #home {
    margin-top: 50px;
  }
  #home .slogan {
    color: #0e385f;
    line-height: 29px;
    font-weight: bold;
  }
}

.profile-interests, .user_group-topics {
  margin-top: 16px;
}

.footer {
  margin-top: 48px;
}

span.tags {
  background: $state-info-bg;
  border-color: $state-info-border;
  border-radius: 2px;
  color: $state-info-text;
  font-weight: bold;
  padding: 2px 4px;
}

#user_group_membership {
  margin-bottom: 16px;
}
