/*
 *= require normalize
 *= require_tree ./happy
 *= require_self
 *= require glyphicons/glyphicons
 *= require glyphicons/halflings
 *= require glyphicons/social
 *= require glyphicons/filetypes
 */

$cosmic_latte: #FFF8E7;

body {
  background-color: $cosmic_latte;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

