/*
 *= require normalize
 *= require_tree ./happy
 *= require_self
 *= require glyphicons/glyphicons
 *= require glyphicons/halflings
 *= require glyphicons/social
 *= require glyphicons/filetypes
 */

@import 'happy/colors';

body {
  background-color: $ugtastic_beige;
  background: url(image_path('backgrounds/retina_wood_@2X.png'));
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
