---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=<TWITTER_OWNER>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_API_KEY>", oauth_nonce="c0159d91f30c0a69dd2c189fa9a8ac0e",
        oauth_signature="2OrCGOTrjm%2Bw3O3QV23cgKws21E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417582225", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 03 Dec 2014 04:50:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 4728eb2afba0aa9fde474d1c144a539b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1417583125'
      X-Response-Time:
      - '32'
      X-Transaction:
      - 17cddfce16f95341
    body:
      encoding: UTF-8
      string: '{"id":<TWITTER_OWNER_ID>,"id_str":"<TWITTER_OWNER_ID>","name":"User-Group
        List","screen_name":"<TWITTER_OWNER>","location":"User-Group Community, Earth","profile_location":null,"description":"Promote
        your user-group community on User-Group List https:\/\/t.co\/Axn4mBxiOS. Interviewing
        Tech Community People at UGtastic as well http:\/\/t.co\/erEzA2Kpcp","url":"https:\/\/t.co\/Axn4mBxiOS","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/Axn4mBxiOS","expanded_url":"https:\/\/ugl.st","display_url":"ugl.st","indices":[53,76]},{"url":"http:\/\/t.co\/erEzA2Kpcp","expanded_url":"http:\/\/www.ugtastic.com","display_url":"ugtastic.com","indices":[133,155]}]}},"protected":false,"followers_count":47,"friends_count":270,"listed_count":0,"created_at":"Fri
        Dec 30 05:31:43 +0000 2011","favourites_count":49,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":343,"lang":"en","status":{"created_at":"Wed
        Dec 03 02:00:08 +0000 2014","id":539962257825083393,"id_str":"539962257825083393","text":".NET-Stammtisch
        Konstanz-Kreuzlingen by @DOTNETKK #UserGroup http:\/\/t.co\/x9mDui86ys via
        @<TWITTER_OWNER> #UserGroups","source":"\u003ca href=\"https:\/\/ugl.st\"
        rel=\"nofollow\"\u003eugl.st\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"UserGroup","indices":[50,60]},{"text":"UserGroups","indices":[95,106]}],"symbols":[],"user_mentions":[{"screen_name":"DOTNETKK","name":".NET
        Stammtisch","id":24670444,"id_str":"24670444","indices":[40,49]},{"screen_name":"<TWITTER_OWNER>","name":"User-Group
        List","id":<TWITTER_OWNER_ID>,"id_str":"<TWITTER_OWNER_ID>","indices":[88,94]}],"urls":[{"url":"http:\/\/t.co\/x9mDui86ys","expanded_url":"http:\/\/ugl.st\/user_groups\/net-stammtisch-konstanz-kreuzlingen","display_url":"ugl.st\/user_groups\/ne\u2026","indices":[61,83]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"de"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"E5E8EA","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/589231184\/86m0u7yahxkteamhi3wh.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/491073478540263424\/KpLCtW8h_normal.png","profile_link_color":"1AA8E8","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"suspended":false,"needs_phone_verification":false}'
  recorded_at: Wed, 03 Dec 2014 04:50:25 GMT
recorded_with: VCR 2.9.3
